@import "STYLES/Color.scss";
@import "STYLES/Fonts.scss";


.error-page-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	.icon {
		width: 172px;
		height: 105px;
	}

	.title {
		margin-bottom: 3px;
		font-size: 1.625rem;
		font-style: normal;
		font-variant: normal;
		@extend .FontBold;
		color: $textColor;
	}

	.desc {
		font-size: 1rem;
		font-style: normal;
		font-variant: normal;
		@extend .FontMedium;
		color: $textColor;
	}
}