@import "STYLES/Color.scss";
@import "STYLES/Fonts.scss";


.checkbox-component {
    cursor: pointer;
    pointer-events: all;

    /*** custom checkboxes ***/
    input[type="checkbox"] {
        display: none;
    }

    .form-check{
        padding-left: 0.5em;
    }
    /* to hide the checkbox and show custom img */
    .form-check-label {
        @extend .FontNormal;
        display: flex;
        align-items: center;
    }
    .form-check-inline{
        margin-right: 0px;
    }
}

.checkbox-component.cursor-arrow{
    cursor: auto;
    svg{
        width: 12px;
        height: 12px;
    }
}

.checkbox-component.disabled{
    pointer-events: none;
}

.hidden-checkbox-row {
        pointer-events: none;
        display: none;
}